extends ./layout/index

block content
    div#bf-contents
        h2.hide 에러 페이지
        section.error-page
            strong.error-page__title= error.status
            div.error-page__info
                p Page is #{message}!!
            p.error-page__button
                a(href="/" title="홈으로 가기") Home
            //- pre #{error.stack}
