@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css"); /* Font */
$Meiryo: "MS PGothic",msgothic,"Meiryo",Meiryo,Arial, sans-serif;
$MGothic: Malgun Gothic,Dotum,Gulim, sans-serif;
$Arial: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
$NotoKr: 'Noto Sans KR', sans-serif; /* Size Default */
$layS: 768px;
$layM: 992px;
$layL: 1200px;
$maxW: 1680px;
$defW: 100%;
$defz: 12px;
$defc: #212529;
$hovc: #0069d9;
@mixin position($type:relative,$top:null,$left:null,$bottom:null,$right:null) {
    position: $type;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}
@mixin size($w:null,$h:null,$mw:null,$mh:null,$mxw:null) {
    width: $w;
    height: $h;
    min-width: $mw;
    min-height: $mh;
    max-width: $mxw;
}
@mixin mpag($m:null,$p:null) {
    margin: $m;
    padding: $p;
}
@mixin clear($cl:both,$ct:"",$dis:block) {
    content: $ct;
    display: $dis;
    clear: $cl;
}
@mixin transition($property:all,$duration:0.3s,$easing:linear,$delay:0s) {
    transition: $property $duration $easing $delay;
    -webkit-transition: $property $duration $easing $delay;
    -moz-transition: $property $duration $easing $delay;
}
@mixin translate($x:0,$y:0) {
    transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    /* IE 9 */
    -webkit-transform: translate($x,$y);
    /* Safari */
}
@mixin transform($sx:1,$sy:1,$rdegX:0,$rdegY:0,$rdegZ:0) {
    -webkit-transform: scale($sx,$sy) rotateX($rdegX) rotateY($rdegY) rotateZ($rdegZ);
    -ms-transform: scale($sx,$sy) rotateX($rdegX) rotateY($rdegY) rotateZ($rdegZ);
    transform: scale($sx,$sy) rotateX($rdegX) rotateY($rdegY) rotateZ($rdegZ);
}
@mixin transform2($sx:1,$sy:1,$rdeg:0) {
    -webkit-transform: scale($sx,$sy) rotate($rdeg);
    -ms-transform: scale($sx,$sy) rotate($rdeg);
    transform: scale($sx,$sy) rotate($rdeg);
}
@mixin animation($time:0.3s,$state:null,$easing:linear,$repeat:null,$time2:0s) {
    animation: $time $state $easing $repeat $time2;
    -webkit-animation: $time $state $easing $repeat $time2;
    -moz-animation: $time $state $easing $repeat $time2;
}
/* reset */
* {
    @include mpag($m:0,$p:0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

html {
    width: 100%;
    font-size: $defz;
}

fieldset,
img {
    @include mpag($m:0,$p:0);
    border: none;
    vertical-align: top;
}

ol,
ul {
    @include mpag($m:0,$p:0);
}

li {
    list-style: none;
}

button,
input,
label,
select,
textarea {
    @include mpag($m:0,$p:0);
    vertical-align: top;
    border: none;
}

button {
    overflow: visible;
    @include mpag($m:0,$p:0);
    border: 0;
    cursor: pointer;
}

select {
    height: 24px;
    border: 1px solid #d5d5d5;
}

textarea {
    padding: 5px 6px;
    border: 1px solid #d5d5d5;
    line-height: 1.5;
}

legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    @include size($w:0,$h:0);
    line-height: 0;
}

address,
em {
    @include mpag($m:0,$p:0);
    font-style: normal;
    font-weight: normal;
}

table {
    @include size($w:$defW);
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

caption {
    display: none;
}

td,
th {
    border: 0;
    vertical-align: top;
}

blockquote,
q {
    quotes: "" "";
}

q:after,
q:before {
    content: "'";
}
/* base */
a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

a:active {
    background-color: transparent;
}

a:hover {
    color: rgba(0,0,0,0.7);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: $defc;
}

body {
    position: relative;
    @include size($w:$defW,$h:$defW);
    word-break: break-all;
}

body,
code {
    color: $defc;
    font-size: $defz;
    font-family: $NotoKr;
    font-weight: 300;
    line-height: 1.25em;
    letter-spacing: 0;
    background: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

input,
select,
textarea {
    padding: 0;
    color: $defc;
    font-size: $defz;
    font-family: $NotoKr;
    line-height: 1em;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ced4da;
    border-radius: 0.2em;
}
/* access */
.hide {
    @include position($type:absolute,$left:-9999px);
    visibility: hidden;
    @include size($w:0,$h:0);
    font-size: 0;
    line-height: 0;
}
/* ir */
.ir {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    color: transparent;
    clip: rect(0 0 0 0);
}
/*clear*/
.clearfix:after {
    @include clear($ct:"",$dis:block);
}
/* tab */
.tab {
    @include size($w:0,$h:129px);

    li {
        float: left;
        @include size($w:480px,$h:152px);

        a {
            display: inline-block;
            @include size($w:$defW,$h:$defW);
        }
    }

    li a:hover,
    li.on a {
        background-position: -480px 0;
    }

    li.sub2 a {
        background-position: 0 -200px;
    }

    li.sub2 a:hover,
    li.sub2.on a {
        background-position: -480px -200px;
    }
}

.tab:after {
    @include clear($ct: "", $dis: block);
}
/* iframe */
iframe {
    border: none;
}

iframe[name='google_conversion_frame'] {
    @extend .hide;
}
/* button */
div.plora-btn {
    @include size($w:$defW);
    text-align: center;

    p {
        display: inline-block;
        vertical-align: top;

        a {
            text-decoration: none;
        }
    }
}

p.plora-btn {
    @include size($w:6em,$h:2.5em);
    line-height: 2.5em;
    position: absolute;
    color: #555;
    text-align: center;
    background: #f8f8f8;
    border: 1px solid #d0d0d0;
    z-index: 2;

    a {
        display: block;
        @include size($w:$defW,$h:$defW);
        text-decoration: none;
    }
}
/* layout */
#wrap {
    overflow: hidden;
    position: relative;
    @include size($w:$defW,$mw:$layS);
    text-align: center;
}

section {
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
}

#bf-skip-nav {
    overflow: hidden;
    @include position($type:absolute,$left:0,$top:0);
    @include size($w:$defW,$mw:$layS);
    text-align: center;
    z-index: 100;

    a {
        display: block;
        width: 0;
        height: 0;
        color: #fff;
        font-size: 0;
        line-height: 0;
        background: #333;
        clip: rect(0, 0, 0, 0);

        &:active,
        &:focus {
            width: 100%;
            height: auto;
            font-size: 1.2rem;
            line-height: 2em;
            clip: auto;
        }
    }
}

#bf-header {
    @include position($type:relative,$left:0,$top:0);
    @include size($w:$defW);
    background: #f8f9fa;
    z-index: 20;
}

#bf-contents {
    position: relative;
    @include size($mxw:$layL,$mh:calc(100vh - 230px));
    margin: 0 auto;
    padding: 1em 5em 2em;
    z-index: 1;

    &:after {
        @include clear();
    }
}

#bf-footer {
    overflow: hidden;
    position: relative;
    @include size($w:$defW,$h:180px);
    line-height: 1.25em;
    color: #fff;
    background: #222;
    z-index: 10;
}

.bf-header {
    @include size($mxw:$layL);
    margin: 0 auto;
    padding: 1em 5em;

    &:after {
        @include clear();
    }

    .bf-header__logo {
        float: left;
        line-height: 1.3em;
        font-size: 1.7em;

        a {
            color: rgba(0, 0, 0, 0.9);
        }
    }

    .header-navi {
        float: right;

        ul {
            float: left;
            padding-right: 3.333em;
        }

        li {
            float: left;
            line-height: 1.625em;
            font-size: 1.35em;

            &:first-child {
                a {
                    padding-left: 0;
                }
            }

            a {
                display: block;
                padding: 0 0 0 20px;
                color: $defc;
                text-decoration: none;

                &:hover {
                    color: $hovc;
                }
            }

            &.active {
                a {
                    color: $hovc;
                }
            }
        }
    }

    .search-form {
        float: left;
    }
}

.search-form {
    .search-form__label {
        margin-right: 10px;
        font-size: 1.35em;
        vertical-align: middle;
    }

    .search-form__input {
        width: 12em;
        padding: 0.25em 0.5em;
        vertical-align: middle;
    }
}
/* recent  */
.conts-recent {
    .plora-btn {
        margin: 20vh 0 0;

        p {
            width: 120px;
            border: 1px solid #fff;
            border-radius: 0.2em;
        }

        a {
            display: block;
            padding: 20px 0;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 0.2em;
            background-color: transparent;
            @include transition($duration:0.3s,$easing:linear);

            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
        }
    }
}

.category-info {
    @include size($mxw:$layL);
    margin: 0 auto;
    padding: 0 5em;

    &:after {
        @include clear();
    }

    .category-info__list {
        display: inline-block;
        width: 20%;
        margin: 1em 0 0;
        vertical-align: top;

        dt {
            margin: 0 0 1em;
            font-size: 1.25em;
            font-weight: 500;
        }

        dd {
            font-size: 1.17em;

            li {
                line-height: 1.5em;
            }

            a {
                color: rgba(255,255,255,.7);

                &:hover {
                    color: rgba(255,255,255,1);
                }
            }
        }

        a:hover {
            color: $hovc;
        }
    }
}

.company-info {
    .company-info__list {
        padding: 0.75em;
        text-align: center;

        li {
            display: inline-block;
            padding: 0 0.75em;
            font-size: 1.17em;
        }
    }

    .company-info__detail {
        padding: 2em 20em;
        text-align: center;
        background: rgba(0,0,0,0.17);
    }

    .company-info__author {
        color: #0be6af;
    }
}
/* 메인 */

section[class*="main-"] {
    float: left;
}

.gallery-list--simple {
    margin: 2em 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.08);

    .gallery-list--simple__title {
        font-size: 1.25em;
        font-weight: 500;
    }

    .gallery-list--simple__list {
        margin: 1.5em 0 2.5em;

        &:after {
            @include clear();
        }

        li {
            float: left;
            width: 20%;
            min-height: 13em;
            padding: 0 1em;
            text-align: center;
            box-sizing: border-box;

            &:first-child {
                margin-left: 0;
            }

            img {
                @include size($mxw:$defW,$mh:10em);
            }

            .gallery-list--simple__category,
            .gallery-list--simple__date {
                font-style: italic;
            }
        }
    }
}

.gallery-list--detail {
    .gallery-list--detail__list {
        a {
            &:hover {
                .gallery-list--detail__title {
                    color: #ff4b4b;
                }
            }
        }

        dl {
            margin: 0 0 1em;
            padding: 1em;
        }

        img {
            min-height: 30em;
            max-width: 100%;
        }
    }

    .gallery-list--detail__title {
        color: #333;
        font-size: 1.416rem;
        font-weight: 500;
        text-align: center;
    }

    .gallery-list--detail__desc {
        margin: 0 0 1.5em;
        font-size: 1.25rem;
    }

    .gallery-list--detail__desc--main {
        @extend .gallery-list--detail__desc;
        padding: 0 0 1.5em;
        border-bottom: 1px solid rgba(0,0,0,0.08);
    }

    .gallery-list--detail__category {
        float: left;
        margin: 0.5em 0 0;
    }

    .gallery-list--detail__button {
        float: right;
        padding: 0.5em 1.5em;
        color: #fff;
        font-size: 1.166rem;
        border-radius: 15px;
        background: #222;

        &:hover {
            background: #ff4b4b;
        }
    }
}

.bf-list-wrap {
    position: relative;
    margin: 4em 0 0;
}

.detail-list {
    float: left;
    width: 70%;
}

.quick-list {
    float: right;
    width: 25%;

    &.active-scroll {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.gallery-list--popular {
    .gallery-list--popular__title {
        margin: 0 0 1em;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .gallery-list--popular__list {
        a {
            color: #333;

            &:hover {
                color: #ff4b4b;
            }
        }

        dl {
            margin: 0 0 1em;
        }

        dt {
            float: right;
            width: calc(100% - 90px);
            font-weight: 500;
        }

        dd {
            overflow: hidden;
            position: relative;
            float: left;
            width: 80px;
            height: 65px;
        }
    }
}

.quick-list--sns {
    .quick-list--sns__title {
        margin: 0 0 1em;
        font-size: 1.25rem;
        font-weight: 500;
    }
}

.quick-list--Category {
    .quick-list--Category__title {
        margin: 0 0 1em;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .quick-list--Category__detail {
        font-size: 1.083rem;

        li {
            margin: 0 0 1em;
        }

        a {
            &:hover {
                color: #ff4b4b;
            }
        }

        strong {
            float: left;
            font-weight: 300;
        }

        span {
            float: right;
        }
    }
}
/*404 error*/

.error-page {
    @include position($type:absolute,$left:50%,$top:50%);
    @include translate($x:-50%,$y:-50%);
    text-align: center;

    .error-page__title {
        font-size: 10.833rem;
        font-weight: 700;
        line-height: 1em;
    }

    .error-page__info {
        margin: 2em 0 0;
        font-size: 2.083rem;
    }

    .error-page__button {
        margin: 2em 0 0;

        a {
            color: #ff4b4b;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#about {
    .plora-contents {
        @include translate($x:0,$y:0);
        @include transition($duration:0.8s,$easing:cubic-bezier(.23,.82,.23,.82));
    }
}
/* navigation */
@keyframes nav {
    0% {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
        /* Standard syntax */
    }

    100% {
        -ms-transform: rotate(-180deg);
        /* IE 9 */
        -webkit-transform: rotate(-180deg);
        /* Safari */
        transform: rotate(-180deg);
        /* Standard syntax */
    }
}
@-webkit-keyframes nav {
    0% {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
        /* Standard syntax */
    }

    100% {
        -ms-transform: rotate(-180deg);
        /* IE 9 */
        -webkit-transform: rotate(-180deg);
        /* Safari */
        transform: rotate(-180deg);
        /* Standard syntax */
    }
}
@-moz-keyframes nav {
    0% {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
        /* Standard syntax */
    }

    100% {
        -ms-transform: rotate(-180deg);
        /* IE 9 */
        -webkit-transform: rotate(-180deg);
        /* Safari */
        transform: rotate(-180deg);
        /* Standard syntax */
    }
}
/* tablet */
@media screen and (max-width: $layL) {}
/* mobile */
@media screen and (max-width: $layM) {

    body,
    code,
    input,
    select,
    textarea {
        font-size: 12px;
    }

    .gallery-list--simple {
        .gallery-list--simple__list {
            li {
                width: 33.3%;
            }
        }
    }

    .detail-list,
    .quick-list {
        width: 100%;
    }

    .gallery-list--popular {
        .gallery-list--popular__list {
            dl {
                display: inline-block;
                width: 50%;
            }
        }
    }

    .category-info {
        .category-info__list {
            display: inline-block;
            width: 50%;
        }
    }

    .plora-nav {
        li {
            &.active {
                a {
                    color: $defc;
                }
            }
        }
    }
    #bf-contents{
        min-height: calc(100vh - 300px);
    }
    #bf-footer{
        @include size($w:$defW,$h:250px);
    }
}
@media screen and (max-width: $layS) {

    body,
    code,
    input,
    select,
    textarea {
        font-size: 10px;
    }

    .bf-header {
        padding: 1em 2.5em;
    }

    #bf-contents {
        padding: 1em 2.5em;
    }

    .category-info {
        padding: 1em 2.5em;
    }

    .company-info .company-info__detail {
        padding: 1em 2.5em;
    }

    .gallery-list--simple {
        .gallery-list--simple__list {
            li {
                width: 100%;
            }
        }
    }

    .gallery-list--popular {
        .gallery-list--popular__list {
            dl {
                width: 100%;
            }
        }
    }
}
