
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.single-layout {
  width:100%;
  background: #fff;
}


.intro-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./assets/images/intro.jpg");
  min-height: 1024PX;
}

.fixed-login-box {
  position: absolute;
  right: 30%;
  top: 30%;
  background: #eee;
  padding: 10px;
}

.btn-snslogin {
  width: 60px;
  height: 60px;
  margin: 2px;
  display: inline-block;
}

.menubar-main {
  width: 100%;
  height: 75px;
  background-color: #fff;
}

.menubar-main div {
  display: inline-block;
}

.menubar-main .logo {
  width: 30%;
  margin-top: 10px;
  float: left;
}

.menubar-main .logo img {
  width: 70px;
  height: 50px;
}

.menubar-main .searchtext {
  width: 40%;
}

.menubar-main .searchtext input {
  padding: 5px;
  border: none;
  border-bottom: solid;
  border-bottom-color: #f7df15;
}

.menubar-main .menunav {
  width: 30%;
}

.menubar-main nav {
  width: 70%;
  display: inline-block;
  padding: 25px 0;
}

.menubar-main .menunav a {
  width: 30%;
  display: inline-block;
}

.menubar-main .menunav .menuicon {
  width: 30%;
  display: inline-block;
}

.banner-main { 
  overflow: hidden;
}

.banner-main li{ 
  float:left;
}

.banner-main li img{ 
  width:100%
}


section.promotion-main { 
  margin:0 auto;
  max-width : 1040px;
  min-width : 1040px;
  margin-bottom:80px;
}
section.promotion-main > div{ 
   height: 450px;
   background-color: #fff;
   margin-bottom:25px;
   position: relative;
}

section.promotion-main .title{
  position: absolute;
}
section.promotion-main .title h2{
  font-size: 2rem;
  margin: 10px 20px;
  line-height: 50px;
  color:#fff;
}
section.promotion-main .banner { 
  background-repeat: no-repeat;
  background-size: cover;
}

section.promotion-main .banner-1st { 
  background-image:url(./assets/images/origin/main_contents_01.jpg);
}
section.promotion-main .banner-1st .title{ 
  background-color: #488fd6A0;
  left: 24px;
  top: 227px;
}
section.promotion-main .banner-2nd { 
  background-image:url(./assets/images/origin/main_contents_02.jpg);
}
section.promotion-main .banner-2nd .title {
  background-color: #95BB7CA0;
  right: 80px;
  top: 60px;
}
section.promotion-main .banner-3rd { 
  background-image:url(./assets/images/origin/main_contents_03.jpg);
}
section.promotion-main .banner-3rd .title {
  background-color: #393939A0;
  left: 24px;
  top: 227px;
}
section.promotion-main .banner-4th { 
  background-image:url(./assets/images/origin/main_contents_04.jpg); 
} 
section.promotion-main .banner-4th .title  { 
  background-color: #C8C87CA0;
  left: 0px;
  top: 200px;
  width: 100%;
  padding: 30px 0px;
} 